#nurmikko {
	background-image: url('./images/nurmikko.png');
	background-position: 0px bottom;
	background-repeat: repeat-x;
	height: 150px;
}

.sieni {
	height: 150px;
}

/*.imageStyle {
  position: relative;
   right: 0px;
   bottom:0px;
  width: 40%;
}
*/
.badgerStyle {
  width: 200px;
  position: relative;
  top:145px;
  left:900px;
}

.snakeStyle{
  position:relative;
  top:225px;
  left: 750px;
  width: 200px;
  
}

.sayStyle{

position:relative;
top:100px;
left: 900px;

}

}

.hide{
	display: none;
}

.questions-box {
	margin-top: 15px;
	margin-bottom: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: limegreen;
} 
.x.axis path {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: violet;
  stroke-width: 1.5px;
}

body {
  background: linear-gradient( #C9ECFF, #FFFFFF);
}

#avatar {}

.kuvaaja {
  position: absolute;
  top: 170px;
}

#kori {
  height: 100px;
  margin-top: 50px;
}


#infoplot {
  position: absolute;
  top: 150px;
  left: 550px;
  height: 300px;
}