#nurmikko {
	background-image: url('./images/nurmikko.png');
	background-position: 0px bottom;
	background-repeat: repeat-x;
	height: 150px;
}

.sieni {
	height: 150px;
}

.hide{
	display: none;
}

.questions-box {
	margin-top: 15px;
	margin-bottom: 15px;
}